<form action="/register_person" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="namn">namn:</label>
    <input type="text" id="namn" name="namn" required><br>

    <label for="efternamn">efternamn:</label>
    <input type="text" id="efternamn" name="efternamn" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="role">Role:</label>
    <input type="radio" id="admin" name="role" value="admin" required>
    <label for="admin">Admin</label>
    <input type="radio" id="user" name="role" value="user" required>
    <label for="user">User</label><br>


        <label for="confirm_password">Confirm password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required><br>

    <input type="submit" value="Register">


</form>